<template>#iconContent#</template>
<script>
import { getIconColor } from "./helper";

export default {
  name: "#componentName#",
  props: {
    size: {
      type: Number,
      default: #size#,
    },
    color: {
      type: Object,
      default: "",
    },
    style: {
      type: String,
      default: "display: block;",
    },
  },
  methods: {
    getIconColor: getIconColor,
  },
};
</script>
